{{#if searchResults}}
<div class="search-result-container">
	<div class="search-result-title text-center">Search Results:</div>
	{{#each searchResults as |searchResult|}}
	{{#isResultAProduct searchResult.[0]}}
	<div class="card search-result-card mb-3">
		<div class="row g-0">
			<div class="col-sm-12 col-md-2 overflow-hidden">
				<img src={{searchResult.[1].image}} class="img-fluid rounded-start search-result-card-image">
			</div>
			<div class="col-sm-12 col-md-10">
				<div class="card-body">
					<h5 class="card-title"><span class="search-result-subtitle">Product</span>: {{searchResult.[1].name}}</h5>
					<p class="card-text">{{searchResult.[1].description}}</p>
					<p class="card-text">Stallholder: {{searchResult.[1].stallholder.company_name}}</p>
					{{#each searchResult.[1].markets as |market|}}
					<a href="/market/{{market.[0]}}">
						<p class="card-text">{{market.[1]}}</p>
					</a>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{/isResultAProduct}}
	{{#isResultAMarket searchResult.[0]}}
	<a href={{generateMarketByIdUrl searchResult.[1].id}}>
		<div class="card search-result-card mb-3">
			<div class="row g-0">
				<div class="col-sm-12 col-md-2 overflow-hidden">
					<img src={{generateMarketLogoUrl searchResult.[1].logo_filename}} class="img-fluid rounded-start search-result-card-logo">
				</div>
				<div class="col-sm-12 col-md-10">
					<div class="card-body">
						<h5 class="card-title"><span class="search-result-subtitle">Market</span>: {{searchResult.[1].market_name}}</h5>
						{{!-- <p class="card-text">{{searchResult.[1].description}}</p> --}}
					</div>
				</div>
			</div>
		</div>
	</a>
	{{/isResultAMarket}}
	{{#isResultAStallholder searchResult.[0]}}
	<div class="card search-result-card mb-3">
		<div class="row g-0">
			<div class="col-sm-12 col-md-2 overflow-hidden">
				<img src={{searchResult.[1].image}} class="img-fluid rounded-start search-result-card-image">
			</div>
			<div class="col-sm-12 col-md-10">
				<div class="card-body">
					<h5 class="card-title"><span class="search-result-subtitle">Stallholder</span>: {{searchResult.[1].company_name}}</h5>
					<p class="card-text">mobile: {{searchResult.[1].mobile}}</p>
					<p class="card-text"><a href={{searchResult.[1].website}}>{{searchResult.[1].website}}</a></p>
				</div>
			</div>
		</div>
	</div>
	{{/isResultAStallholder}}
	{{/each}}
	{{else}}
	Sorry, no products were found containing {{searchedTerm}}
	{{/if}}
</div>

