{{#if products}}
{{#each products as |product|}}
<div class="card search-result-card mb-3">
	<div class="row g-0">
		<div class="col-md-2">
		<img src={{product.image}} class="img-fluid rounded-start search-result-card-image">
		</div>
		<div class="col-md-10">
		<div class="card-body">
			<h5 class="card-title">{{product.name}}</h5>
			<p class="card-text">{{product.description}}</p>
			<p class="card-text">Stallholder: {{product.stallholder.company_name}}</p>
		</div>
		</div>
	</div>
</div>
{{/each}}
{{else}}
Sorry, no products were found containing {{searchedProduct}}
{{/if}}

