<div class="card mb-9">
  <div class="card-body">
    <div class="new-stall-container">
        <form class="new-stall-form">
            <input type="hidden" name="_method" value="put">
            <div class="row g-3">
                <div class="form-group col-md-6">
                <label for="name">Stall Name</label>
                <input type="text" class="form-control" id="stall_name" name="name" placeholder="Stall Name" value="{{stall.stall_name}}">
                </div>
                <div class="form-group col-md-6">
                <label for="description">Description</label>
                <input type="textarea" class="form-control" id="description" name="description" placeholder="Description" value="{{stall.description}}"></textarea>
                </div>
            </div>
            <div class="row g-3">
                <div class="form-group col-md-6">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="price" value="{{stall.price}}">
                </div>
                {{!-- <div class="form-group col-md-6">
                    <label for="lease_expiry">End Lease</label>
                    <input type="date" class="form-control" id="lease_expiry" value="{{stall.lease_expiry}}">
                </div> --}}
                <div class="form-group col-md-6">
                <label for="location">Location</label>
                <select id="location_id" class="form-control">
                    <option selected>Choose...</option>
                    {{#each locations as |location|}}
                        <option value="{{location.id}}">{{location.market_name}}</option>
                    {{/each}}
                </select>
                </div>
            </div>
            <div class="row g-3">
                <div class="form-group col-md-6 ">
                <button type="submit" class="btn btn-primary no-padding">Save</button>
                </div>    
            </div>
        </form>
        <script src="/js/add-stall.js"></script>
    </div>
  </div>
</div>