
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Stall</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
  {{#each stalls as |stall|}}
    <tr>
      <td><a href="../stalls/{{id}}">{{stall_name}}</a></td>
      <td>{{description}}</td>
      <td>{{price}}</td>
      <td>{{location.market_name}}</td>
      <td><a href="../stalls/edit/{{id}}">edit</a>
        <a href="../stalls/{{id}}">Delete</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
<a href="new">Add New</a>