<div class="card mb-9">
  <div class="card-body">
    {{!-- {{#each stallholderData as |stallholder|}} --}}
    <h1>{{stallholderData.company_name}}!</h1>
        
        <div>
          {{!-- <div><a href="/stallholders/{{id}}">{{company_name}}</a></div> --}}
          <div>{{stallholderData.description}}</div>

         
          <div><a href="tel:{{stallholderData.mobile}}"></a>{{stallholderData.mobile}}</div>
          <div><a href="{{stallholderData.website}}" target="_blank">{{stallholderData.website}}</a>
          
          </div>

        {{!-- {{/each}} --}}
    
  </div>
</div>