<div class="card mb-3" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="/images/logos/{{eventsData.location.logo_filename}}" class="img-fluid rounded-start" alt="Logo">
    </div>
    <div class="col-md-7  ">
      <div class="card-body">
        <h5 class="card-title">{{eventsData.location.market_name}}</h5>
        <p class="card-text">{{eventsData.timestamp_Start }}</p>
 <p class="card-text">{{eventsData.timestamp_Start }}</p>

      </div>
    </div>
  </div>
</div>




{{#if stallData}}
<div class="card mb-3">
  <h4>Our Stall List</h4>
  </div>
{{#each stallData as |stall|}}
<div class="card search-result-card mb-2">
	<div class="row g-0">
		<div class="col-md-10">
		<div class="card-body">
			<h5 class="card-title">{{ @index}}. {{stall.stall_name}}</h5>
			<p class="card-text">{{stall.description}}</p>
		</div>
		</div>
	</div>
</div>
{{/each}}
{{else}}
Sorry, no stalls were found for this event
{{/if}}
