<div class="card mb-9">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Market</th>
          <th scope="col">Event Name</th>
          <th scope="col">Times</th>
    
        </tr>
      </thead>
      <tbody>
        {{#each eventsData as |events|}}
        <tr>
          <td><img src="/images/logos/{{location.logo_filename}}" class="img-fluid rounded-start " style="width: auto; height: 40px;" alt="Logo"></td>
          <td>{{location.market_name}}</td>
          <td><a href="/events/{{id}}">{{event_name}}</a></td>
          <td>{{formatDateMulti timestamp_start "dayLong"}} - {{formatDateMulti timestamp_end "timeOnly"}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- <button type="button" class="btn float-right no-padding"><a href="new">
        <i class="fa fa-plus">Add Stall</i></a>
    </button> --}}
  </div>
</div>