<div class="card mb-9">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Market</th>
          <th scope="col">Event Name</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
        </tr>
      </thead>
      <tbody>
        {{#each eventsData as |events|}}
        <tr>
          <td>{{location.market_name}}</td>
          <td><a href="/events/{{id}}">{{event_name}}</a></td>
          <td>{{formatDate timestamp_start}}</td>
          <td>{{formatDate timestamp_end}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- <button type="button" class="btn float-right no-padding"><a href="new">
        <i class="fa fa-plus">Add Stall</i></a>
    </button> --}}
  </div>
</div>